<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NSRegExNamedCaptureGroup iOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>NSRegExNamedCaptureGroup macOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>NSRegExNamedCaptureGroup tvOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>NSRegExNamedCaptureGroup watchOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8316B9AF1F0CDE6400B35D00</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8316B9BF1F0CDF4300B35D00</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8344BA641EF40CC2001B5012</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8344BA721EF40CD6001B5012</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8344BA9A1EF40F4B001B5012</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8344BAAB1EF418D9001B5012</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
