<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NSRegExNamedCaptureGroup_iOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>NSRegExNamedCaptureGroup_macOS Tests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>NSRegExNamedCaptureGroup_macOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8344B9C51EF3CE2E001B5012</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8344B9D31EF3CE54001B5012</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8344B9E11EF3CE82001B5012</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8344B9FB1EF3D2D8001B5012</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8344BA1F1EF3EDD4001B5012</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8344BA481EF407B8001B5012</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
